@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;


@model Entidades.CuentasAhorro

@{
    ViewData["Title"] = "Create";
}


<section class="container" id="FormHead">
    <div class="row">
        <div class="col-12">
            <h2>Creacion de cuenta</h2>
        </div>
    </div>
</section>



<div class="row">
    <div class="col-lg-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id_Usuario" type="hidden" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
            </div>
            <div class="form-group">
                <label asp-for="Codg_Cuenta" class="control-label"></label>
                <input asp-for="Codg_Cuenta" class="form-control" />
                <span asp-validation-for="Codg_Cuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance_Actual" class="control-label"></label>
                <input asp-for="Balance_Actual" class="form-control" />
                <span asp-validation-for="Balance_Actual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
