@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;


@model Entidades.Prestamo

@{
    ViewData["Title"] = "Prestamos";
}

@section CSS{
<link rel="stylesheet" href="~/css/forms.css" />

}


<section class="container materialContainer ">
    <div class="row">
        <div class="container btn-controls">
            <div clas="row">
                <div>
                    <a class="btn btn-control" href="/dashboard">
                        <i class="bi bi-arrow-left-circle-fill icon">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 form-header">
            <h2 class="title_formHeader">Creacion de Prestamo</h2>
        </div>
    </div>
    <div class="col-12">
        <form class="form" id="FormTarjetaCredito">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id_Usuario" type="hidden" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" id="Id_usuario" />
            <input asp-for="Codigo_Prestamo" type="hidden" value="@Model.Codigo_Prestamo" id="Codigo_Prestamo" />

            <div class="form-group col-sm-12 ">
                <label asp-for="Codigo_Prestamo" class="label_form">Numero de Tarjeta</label>
                <p class="form-info-detail">@String.Format("{0:000000-00}",double.Parse(Model.Codigo_Prestamo))</p>
            </div>

            <div class="form-group col-sm-12 ">
                <label asp-for="Balance_Apertura" class="label_form">Monto del prestamo </label>

                <input class="form-control inputs input-money" id="balanceActualMask" unmaskRef="#Balance_Apertura" value="0" />
                <input asp-for="Balance_Apertura" type="hidden" id="Balance_Apertura" />

                <span asp-validation-for="Balance_Apertura" class="text-danger"></span>
            </div>
            <div class="form-group btn-action col-12">
                <input type="button" value="Crear Prestamo" class="btn btn-submit col-12" id="crearTarjeta" />
            </div>
        </form>
    </div>
</section>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");



}

<script>
    let Id_usuario=$("#Id_usuario").val()

    let Codigo_Prestamo= $("#Codigo_Prestamo").val()


    $(document).ready(function(){

    $('.input-money').change((evt)=>{

      evt.preventDefault();
      evt.stopPropagation();

      let idNewTarget= evt.target.getAttribute("unmaskRef");

      $(idNewTarget).val($("#"+evt.target.id).cleanVal())

    });

    $('#crearTarjeta').click(()=>{

    let Balance=$('#Balance_Apertura').val()

        if(parseInt(Balance) == 0){

            CustomError("Error","El credito de apertura no puede estar en cero")
            return
        }


        let creditCard = {
           "Id_usuario":Id_usuario,
           "Codigo_Prestamo":Codigo_Prestamo ,
           "Balance_Apertura":Balance
        };

        let data =JSON.stringify(creditCard)


        Solicitudes('/prestamo/create','POST',data, async (res)=> {

            if(res.status==1){
                  CustomSucess(undefined,res.message)
                var time = setTimeout(() => {
              location.href = "/dashboard";
               }, 1500);

            }else{
                CustomError(undefined,res.Message)
            }




        })
    })


    $('.input-money').mask('#####$',{reverse:true});


    });
</script>
}
