@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;


@model Entidades.TarjetaCredito

@{
    ViewData["Title"] = "Create";
}

@section CSS{
<link rel="stylesheet" href="~/css/forms.css" />

}


<section class="container materialContainer ">
    <div class="row">
        <div class="container btn-controls">
            <div clas="row">
                <div>
                    <a class="btn btn-control" href="/dashboard">
                        <i class="bi bi-arrow-left-circle-fill icon">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 form-header">
            <h2 class="title_formHeader">Creacion de tarjeta de credito</h2>
        </div>
    </div>
    <div class="col-12">
        <form asp-action="Create" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id_usuario" type="hidden" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
            <input asp-for="numero_tarjetaCredito" type="hidden" value="@Model.numero_tarjetaCredito" />

            <div class="form-group col-sm-12 ">
                <label asp-for="numero_tarjetaCredito" class="label_form">Numero de Tarjeta</label>
                <p class="form-info-detail">@String.Format("{0:0000 0000 0000 0000}",double.Parse(Model.numero_tarjetaCredito))</p>
            </div>

            <div class="form-group col-sm-12 ">
                <label asp-for="Balance" class="label_form">Asignacion de Credito </label>

                <input class="form-control inputs input-money" id="balanceActualMask" unmaskRef="#CreditoActual" value="0" />
                <input asp-for="Balance" type="hidden" id="CreditoActual" />

                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group btn-action col-12">
                <input type="submit" value="Crear tarjeta de credito" class="btn btn-submit col-12" />
            </div>
        </form>
    </div>
</section>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");



}

<script>
    $(document).ready(function(){

    $('.input-money').change((evt)=>{

      evt.preventDefault();
      evt.stopPropagation();

      let idNewTarget= evt.target.getAttribute("unmaskRef");

      $(idNewTarget).val($("#"+evt.target.id).cleanVal())

    });


    $('.input-money').mask('#####$',{reverse:true});


    });
</script>
}
