@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;


@model Entidades.TarjetaCredito

@{
    ViewData["Title"] = "Create";
}

@section CSS{
<link rel="stylesheet" href="~/css/forms.css" />

}


<section class="container materialContainer ">
    <div class="row">
        <div class="container btn-controls">
            <div clas="row">
                <div>
                    <a class="btn btn-control" href="/dashboard">
                        <i class="bi bi-arrow-left-circle-fill icon">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 form-header">
            <h2 class="title_formHeader">Creacion de tarjeta de credito</h2>
        </div>
    </div>
    <div class="col-12">
        <form class="form" id="FormTarjetaCredito">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id_usuario" type="hidden" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" id="Id_usuario" />
            <input asp-for="Numero_tarjetaCredito" type="hidden" value="@Model.Numero_tarjetaCredito" id="Numero_tarjetaCredito" />

            <div class="form-group col-sm-12 ">
                <label asp-for="Numero_tarjetaCredito" class="label_form">Numero de Tarjeta</label>
                <p class="form-info-detail">@String.Format("{0:0000 0000 0000 0000}",double.Parse(Model.Numero_tarjetaCredito))</p>
            </div>

            <div class="form-group col-sm-12 ">
                <label asp-for="Balance" class="label_form">Asignacion de Credito </label>

                <input class="form-control inputs input-money" id="balanceActualMask" unmaskRef="#CreditoActual" value="0" />
                <input asp-for="Balance" type="hidden" id="CreditoActual" />

                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group btn-action col-12">
                <input type="button" value="Crear tarjeta de credito" class="btn btn-submit col-12" id="crearTarjeta" />
            </div>
        </form>
    </div>
</section>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");



}

<script>
    let Id_usuario=$("#Id_usuario").val()

    let Numero_tarjetaCredito= $("#Numero_tarjetaCredito").val()


    $(document).ready(function(){

    $('.input-money').change((evt)=>{

      evt.preventDefault();
      evt.stopPropagation();

      let idNewTarget= evt.target.getAttribute("unmaskRef");

      $(idNewTarget).val($("#"+evt.target.id).cleanVal())

    });

    $('#crearTarjeta').click(()=>{

    let Balance=$('#CreditoActual').val()

        if(parseInt(Balance) == 0){

            CustomError("Error","El credito de apertura no puede estar en cero")
            return
        }


        let creditCard = {
           "Id_usuario":Id_usuario,
           "Numero_tarjetaCredito":Numero_tarjetaCredito ,
           "Balance":Balance
        };

        let data =JSON.stringify(creditCard)


        Solicitudes('/tarjetaCredito/create','POST',data, async (res)=> {

            CustomSucess(undefined,res.message)
            var time = setTimeout(() => {
          location.href = "/dashboard";
        }, 1500);


        })
    })


    $('.input-money').mask('#####$',{reverse:true});


    });
</script>
}
