
#welcomeContainer {
    margin: 25px;
}

#bienvenidaUser {
    text-align: right;
}

p {
    font-size: 20px;
}

#welcomeContainer {
    border-radius: 10px;
}

.btn-acd {
    font-size: 30px;
}

    .btn-acd:focus, .btn-acd.focus {
        box-shadow: none;
    }

#accordionInfo .infocard {
    background : rgba(222, 222, 223, 0.157);
}

    #accordionInfo .card .card-header {
        background: none;
        border: none;
    }

.card_detail{
    background:rgba(228, 219, 219, 0.52);
    border-radius:10px;
    margin:5px;
    box-shadow: 3px 3px rgba(40, 40, 41, 0.178);
}


.cardsAccount{
    border:none;
    margin-top: 12px;
}

.btn:hover {
    color: #cbcbcf;
    text-decoration: none;
}

.btnAcciones{
    margin-top: 30px;
    
}



.btn-agregar{
    color:#fff;
    font-weight:bold;
    font-size: 15px;
    background-color: rgba(20, 69, 202, 0.705);
    box-shadow: 1px 2px rgba(115, 119, 128, 0.472);
    height: 60%;

}

.cardTitle{
    font-size: 20px;
    
}

.cardButton:focus, .cardButton.focus {
    border: none;
    border-color:none;
}