@model List<TarjetaCredito>

<div class="container" id="cardsAccounts">
    <div class="row">

        @foreach (var creditcard in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card card_detail cardsAccount">
                    <div class="card-body">
                        <h5 class="card-title">Numero de Tarjeta</h5>
                        <h5 class="card-title">xxxx xxxx xxxx @creditcard.Numero_tarjetaCredito[^4..]</h5>

                        <h6 class="card-subtitle mb-2 text-muted">Credito asignado: @creditcard.Balance.ToString("C",CultureInfo.CurrentCulture)</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Credito disponible: @creditcard.Balance_disponible.ToString("C",CultureInfo.CurrentCulture)</h6>
                        <div class="acction_cards ">
                            <a href="/credito/estadoCredito/@creditcard.Id" class="card-link">Estados</a>
                            <a href="/paycreditcard/@creditcard.Id" class="card-link">Pago de Tarjeta</a>
                            <div class="">
                                <a href="/credit/transact/@creditcard.Id" class="card-link">Transferencia a Cuenta</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>